.cardMainImg{
    width: 70%;
}
.userCard{
    display: flex;
    flex-direction: column;
    width: 8rem;
    height: 12rem;
    align-items: center;
    background: linear-gradient(45deg, palegreen, whitesmoke, palegreen);
    padding: .5rem;
    border-radius: .5rem;
    margin: .2rem;
    box-shadow: 0 0 .2rem grey;
    cursor: pointer;
}
.userCard>*{
    text-align: center;
}
.userCard:hover{
    box-shadow: 0 0 .2rem white;
}
.cardMainCaption{
    display: flex;
    height: 30%;
    font-size: 75%;
    font-weight: bold;
    align-items: center;
}
.inactiveUser{
    box-shadow: 0 0 .2rem darkred;
    background: linear-gradient(45deg, silver, whitesmoke,silver);
    color: grey;
}
.cardButton{
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background-color: none;
    background-size: 110%;
    background-position: center;
    background-repeat: no-repeat;
    max-height: none;
    min-width: none;
    padding: 0;
}

.editButton{
    background-image: url('../../../assets/icons/editIcon.png');
}
.minusButton{
    background-image: url('../../../assets/icons/minus.png');
}
.plusButton{
    background-image: url('../../../assets/icons/plus.png');
}
@media(max-width:900px){
    .userCard{
        transform: scale(.75);
        margin: -1rem;
    }
}
