.pageFooter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.paginate{
    display: flex;
    max-width: 90vw;
    height: fit-content;
}
.pageButton{
    display: flex;
    height: fit-content;
    width: 2rem;
    padding: 0;
    margin: 0 .2rem;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .1rem grey;
    justify-content: center;
    cursor: pointer;
}
.currentPage{
    background-color: darkred;
    color: whitesmoke
}
.otherPage{
    background-color: whitesmoke;
    color: darkslategray
}
@media(max-width: 900px){
    .pageButton{
        min-width: 1rem;
        margin: .1rem
    }
    .pageFooter{
        align-items: center;
    }
}