.deviceColumn{
    display: flex;
    align-items: center;
    width: 20rem;
    justify-content: center;
}
.calendarColumn{
    justify-content: center;
    width: 100%;
    margin: 0 .2rem
}
.calendarSection{
    display: flex;
    background: linear-gradient(45deg, silver, whitesmoke, silver);
    margin: .3rem 0
}
.calendarRow{
    display: flex;
    height: 100%;
    width: 100%;
}
.weekButton{
    width: .8rem;
    min-width: .8rem;
    height: 1rem;
    border-radius: .1rem;
    margin: .05rem
}
.monthSection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 9%;
    align-items: center;
    border: 1px solid black;
    height: 100%;
}
.tinyTitle{
    font-weight: bold;
    font-size: 70%;
    text-align: center;
}
.calendarDevItem{
    width: 15rem;
    font-size: 70%;
    text-align: center;
    height: 100%;
    overflow-x: visible;
}
.ddmm{
    width: 3rem;
    padding: 0;
    border-radius: .5rem;
    font-size: 80%;
    text-align: center;
}
.selectedWeek{
    background-color: lime;
}