.divScroll {
    overflow-y:scroll;
    height:500px;
    width: 262px;
}

.divScrollServPoints{
    overflow-y:scroll;
    height:500px;
    width: 420px;
}

.divContainerScrolls{
    display: flex;
}

.divPrincipal{
    height:100%;
    width:1200px;
}

.containerLabel{
    display: flex;
    flex-direction: column;
}

.containerLabel label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.removeButton{
    background-color: none;
    height: 1rem;
    min-width: 2rem;
    background-image: url('../../../assets/icons/trash2.png');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .editButton{
    background-color: lightseagreen;
    height: 1rem;
    width: 1.5rem;
    background-image: url('../../../assets/icons/editIcon.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }