.yearBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    border: 2px solid var(--main-color);
    border-radius: .5rem;
}
.yearBox:hover,.activeYearBox{
    background-color: var(--main-color);
    color: whitesmoke
}