.userDetailForm {
  background-color: silver;
  width: 20rem;
  height: 25rem;
  max-width: 100vw;
  max-height: 100vh;
  box-shadow: 0 0 0.5rem black;
  padding: 0.5rem;
  border-radius: 1rem;
  overflow: auto;
}
.closeButton {
  float: right;
}
