.interventionList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border: .1rem inset grey;
    background: whitesmoke;
    overflow-y: auto;
    font-size: 80%;
}

.interventionItem, .gridHeaders{
    display: grid;
    width: 100%;
}
.gridHeaders{
    grid-template-columns: 2fr 3fr 7fr 2fr 1fr;
}
.interventionItem{
    grid-template-columns: 14fr 1fr;
}

.interventionListColumns{
    display: grid;
    grid-template-columns: 2fr 3fr 7fr 2fr;
    width: 100%;
}

.gridHeader{
    font-weight: bold;
    align-items: center;
    background: linear-gradient(45deg, silver, white, silver);
    border: 1px outset grey;
}
.gridField, .gridHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.gridField{
    border: 1px dotted grey;
    border-top: none;
}
.gridField div{
    margin: 0 .2rem
}
.gridFieldLine{
    display: flex;
    justify-content: center;
}
.columnField{
    flex-direction: column;
}
.buttonsField{
    flex-direction: row;
    flex-wrap: wrap;
}
.editionButton, .deletionButton{
    padding: 0;
    font-size: 1rem;
    margin:.2rem;
    min-width: 0;
    min-height: 0;
    width: 2rem;
    height: 1.5rem;
    background-size: 80%;
    background-position: center;
}
.editionButton{
    background-image: url('../../../assets/icons/editIcon.png');
    background-color: skyblue;
}
.deletionButton{
    background-image: url('../../../assets/icons/trash2.png');
}



@media(max-width:900px){
    .gridHeaders{
        display: none;
    }
    .interventionItem{
        display: flex;
        grid-template-columns: none;
        background: linear-gradient(45deg, silver, whitesmoke, silver);
        border-radius: .2rem;
    }
    .gridField{
        flex-direction: row;
        border: none;
        width: 100%;
    }
    .dateField{
        font-weight: bold;
        background-color: grey;
        color: whitesmoke;
        margin-bottom: .1rem;
        box-shadow: .1rem .1rem .1rem grey;
    }
    .workerName{
        background: linear-gradient(45deg, silver, whitesmoke, silver);
        border-radius: .3rem;
        padding: 0 .2rem;
        margin: 0 .2rem;
        box-shadow: .1rem .1rem .1rem grey;
    }
    .taskField{
        justify-content: flex-start;
    }
    .buttonsField{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: fit-content;
    }
    .interventionListColumns{
        display: flex;
        flex-direction: column;
    }
    .editionButton, .deletionButton{
        display: flex;
        margin:0;
        height: 49%;
        border-radius: 0;
        background-size:contain;
        background-repeat: no-repeat;
    }
}