.panelWoResume{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.wOData{
    display: flex;
    font-size: .9rem;
    width: 90%;
    height: 40rem;
}

.wOList{
    height: calc(100% - 2rem);
    overflow-y: auto;
    width: calc(100% - 1rem);
}
.workOrderLi{
    display: flex;
    flex-direction: column;
    width: calc(100% - 1rem);
    background: linear-gradient(45deg, silver, whitesmoke, silver);
    border-radius: 1rem;
    margin: .2rem 0;
    padding: .2rem;
    font-size: .8rem;
    box-shadow: .2rem .2rem .2rem grey;
    cursor: pointer
}
.liHeader{
    padding: 0 .5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.workOrderRow{
    padding: 0 .5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}
.abierta{
    border: 2px solid red
}
.abierta:hover{
    transform: scale(1.02);
    background: linear-gradient(45deg, mistyrose, whitesmoke, mistyrose);
}
.cerrada{
    border: 2px solid green
}
.cerrada:hover{
    transform: scale(1.02);
    background: linear-gradient(45deg, mintcream, whitesmoke, mintcream);
}
.abierta:active, .cerrada:active{
    transform: scale(.98);
    box-shadow: none;
}
.liContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.liDetail{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    align-items: center;
}