.panelBackground{
    height: 100%;
}
.panelContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    height: 100%; 
}
.title{
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: underline;
    margin: .3rem 0;
    height: 1.5rem;
    text-align: center;
}
.panelSquare{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 25rem;
    height: 22rem;
}
