.selectorContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.shortForm{
    width: fit-content;
    background-color: none;
}
.longForm{
    width: 100%;
    background-color: grey;
}
.locationOption{
    width: 20%;
    height: 2rem;
    margin-left: .5rem;
}