.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button{
  background-color: darkred;
  color: white;
  border-radius: 5em;
  margin: 5px;
  font-size: .8em;
  padding: 5px;
  width: fit-content;
  min-width: 2rem;
  text-align: center;
  text-decoration: none;
}
.button:hover{
  background-color: red;
  color: whitesmoke
}
.button{
  box-shadow: 2px 2px 2px grey;
  cursor: pointer
}
.button:active{
  transform: scale(.95);
  box-shadow: 0 0 2px grey
}
.button:disabled{
  border: 1px solid grey;
  background-color: silver;
  color: grey
}
.input-group .btn{
  z-index:0;
}
*::-webkit-scrollbar{
  -webkit-appearance: none;
}
*::-webkit-scrollbar:vertical{
  width: .5rem;
}
*::-webkit-scrollbar:horizontal{
  height: .5rem;
}
*::-webkit-scrollbar-thumb{
  background: rgba(150,150,150,.5) ;
  border-radius: 20px;
}
*::-webkit-scrollbar-track{
  border-radius: .5rem;  
}
.hidden{
  display:none
}
.removeButton{
  background-color: none;
  height: 1.5rem;
  min-width: 2.5rem;
  background-image: url('./assets/icons/trash2.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.editButton{
  background-color: lightseagreen;
  height: 1.5rem;
  background-image: url('./assets/icons/editIcon.png');
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.editButton:hover{
  background-color: green;
}
.spaced{
  justify-content: space-evenly;
}
.errorMessage{
  color: red;
  font-size: .6rem;
  font-weight: bold;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: inherit
}
.pageBackground{
  width: 100%;
  height: 100%;
}
.bg-form{
  background-color: silver;
}
.bg-nav{
  background-color: darkRed;
}
