@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .flex-center {
    @apply flex w-full h-full items-center justify-center;
  }
  .bg-landing {
    @apply bg-repeat;
    background: linear-gradient(45deg, black, darkred, black);
    /* background-size: 10%; */
    /* background-image: url("./assets/icons/backgroundT.png"); */
  }
  .page-title {
    @apply text-xl;
  }
  /* buttons */
  .btn-check:focus + .btn-primary,
  .btn-primary:focus {
    @apply text-primary-content bg-primary border-secondary outline-base-100
    /* color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5); */;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
