.navButtons{
    display: flex;
    width: 100%;
}
.navButton{
    width: 100%;
    border-radius: .1rem;
    background-color: silver;
    border: 1px outset whitesmoke;
    color: black;
    font-size: 1rem;
    padding: .1rem;
    margin: .5rem 0;
}
.navButton:hover{
    background: radial-gradient(silver,whitesmoke);
    color: black;
    font-weight: bold;
}
.navButton:active{
    transform: translateY(.1rem);
}
.short{
    width: 3rem;
    padding: 0;
}
