.formField{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-height: 100%;
    padding: 0 .2rem;
    margin-bottom: .5rem;
}

.formFieldLabel{
    display: flex;
    min-width: 6rem;
    align-items: center;
    background-color: grey;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    padding: 0 .2rem;
    color: whitesmoke;
    font-weight: bold;
    justify-content: center;
}

.formFieldInput{
    display: flex;
    /* height: 100%; */
    width: 100%;
    /* margin-bottom: 0.5rem; */
    border: none;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
}